
/* Barra de Navegación */
.navhome a{
    text-decoration: none;
    color: #f3f4f5 !important;
    font-weight:bold;
}

.navhome .active{
    text-decoration: none;
    color: #f3f4f5 !important;
    font-weight: 900;
}

.navhome a:hover{
    color: #E8E0DF!important;
    text-decoration: none;
    font-weight: 900;
}
.navbar-nav{
    justify-content: flex-end !important;
}
.navbar-toggler{
    border: 1px solid #f3f4f5;
    border-radius:  5px;
}
.navbar-toggler-icon{
    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(249,251,253, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* TARJETAS KANBAN BOARD */
.cardmg{
    border-radius: 10px !important;
}
.sect-list .ca{
    font-weight: bold !important;
    text-decoration: none !important;
}
.sect-list {
    min-height: 100vh !important;
    background: rgba(0,0,0,0.8)!important;
    backdrop-filter: saturate(180%) blur(10px)!important;
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .sect-list {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }