{% extends 'base.html' %}
{% load static %}
{% load  bootstrap %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
{% endblock %}
{% block content %}
<section>
    {% include 'navegacion.html'%}
    <div class="d-flex justify-content-center">
    <div class="container d-flex justify-content-center row">

      <!--MENU DE LA IZQUIERDA-->
      <div class="OptionAdmin card ms-auto col-md-3 text-start my-5 position-sticky">
        <ul class="list-group list-group-flush mt-">
      <!--PERFIL ADMIN LINKS-->
      <li class="list-group-item ">
        <a class="active" href="{% url 'main-admin' %}"><i class="fas fa-home"></i>Home</a>
      </li>
      <li class="list-group-item ">
        <a class="active" href="{{request.user.get_absolute_url}}"><i class="far fa-user"></i> Mi perfil</a>
      </li>
      <li class="list-group-item ">
        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Salir</a>
      </li>
      </ul>
    </div>

    <!--FORMULARIO TAREA-->      
    <div class="col-md-9 mt-5">
        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Eliminar tarea</h3>
              <form method="POST" action=".">{% csrf_token %}
                <h1>¿ESTAS SEGURO QUE QUIERES ELIMINAR LA TAREA: {{object.nombre}}?</h1>
               <div class="col-md-12 mt-3 mb-5">
                <button type="submit" class="btn btn-danger btn-lg col-md-4">Eliminar</button>
                <a href="{% url 'tarea-update' object.pk %}" class="btn btn-primary btn-lg col-md-4">Cancelar</a>
              </div> 
              </form>

    </div>

</div>
</section>
{% endblock %}